@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(209, 211, 243, 1) 43%);
    font-family: 'Lato', sans-serif;
}

/* Header */

.header-navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.nav-logo {
    font-size: 2rem;
    font-weight: bolder;
    margin-right: 150px;
    font-family: 'Leckerli One';
}

.nav-pages {
    margin-left: 250px;
}

.nav-pages a {
    text-decoration: none;
    color: black;
    margin: 20px;
    font-weight: 600;
}

.nav-pages a:hover {
    text-decoration: underline   ; 
}


/* Main Section */

.main-sec {
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
}

.main-sec1 {
    width: 50%;
}

.main-sec1 h6 {
    font-size: 50px;
    font-weight: lighter;
}

.main-sec1 h1 {
    margin-top: 5px;
    color: #050982;
    font-size: 45px;
}

.main-sec1 h5 {
    margin-top: 10px;
    font-size: 14px;
}

.main-sec1 p {
    margin-top: 25px;
    font-size: 16px;
}

.main-sec1-button {
    text-align: left;
    margin-top: 30px;
}

.main-sec1-button a {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    background-color: #03087B;
    color: white;
    border-radius: 5px;
}

.main-sec2 {
    margin-left: 200px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-sec2-img img {
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 15px solid #131AC4;
    height: 300px;
    width: 180px;
}

.main-sec2-name h6 {
    margin-top: 15px;
    font-size: 0.85rem;
    font-weight: lighter;
}

.main-sec2-social {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}

.main-sec2-social i {
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

.main-sec2-social i:hover {
    color: #007bff;
}


.main-sec3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 70px;
}

.brick {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    background-color: #03087B;
    box-shadow: 0 4px 8px rgba(13, 79, 155, 0.1);
}

/* Footer */
.footer-sec1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 70px;
    position: absolute;
}

.brickb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 50px;
    background-color: #03087B;
    box-shadow: 0 4px 8px rgba(4, 45, 92, 0.1);
}