@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(209, 211, 243, 1) 43%);
    font-family: 'Lato', sans-serif;
}

/* Header */

.header-navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.nav-logo {
    font-size: 2rem;
    font-weight: bolder;
    margin-right: 150px;
    font-family: 'Leckerli One';
}

.nav-pages {
    margin-left: 250px;
}

.nav-pages a {
    text-decoration: none;
    color: black;
    margin: 20px;
    font-weight: 600;
}

.nav-pages a:hover {
    text-decoration: underline;
}


/* Main Section */
.proj-sec {
    margin-top: 40px;
}

.proj-sec1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proj-sec1 h1 {
    margin-bottom: 30px;
}

.proj-sec1 p {
    text-align: center;
    margin: 0;
}

.proj-sec2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.card {
    position: relative;
    background-image: url('./images/project.jfif');
    height: 400px;
    width: 300px;
    background-size: contain;
    background-position: center;
    border-radius: 10px;
}

.proj-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(0, 0, 0, 0.85); */
    background-color: rgba(32, 35, 104, 0.85);

    color: white;
    padding: 10px;
    box-sizing: border-box;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.proj-details p {
    margin: 0;
}



/* Footer */
.footer-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #03087B;
    margin-top: 100px;
    padding-left: 100px;
}

.foot-sec1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    color: white;
}

.foot-sec1 h1,
p {
    margin-bottom: 30px;
    text-align: justify;
}

.foot-sec-icons {
    display: flex;
    gap: 30px;
}

.foot-sec-icons i {
    font-size: 35px;
}

.foot-sec2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;

}

.foot-sec2 form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.foot-sec2 input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(209, 211, 243, 1) 0%);
    color: #03087B;
}


.foot-sec-button {
    display: flex;
    text-align: left;
    justify-content: center;
    margin-top: 30px;

}

.foot-sec-button a {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(209, 211, 243, 1) 43%);
    color: #03087B;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 5px;
}